html, body {
  margin: 0;
  padding: 0;
  color: #444;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto 1fr;
}

.header {
  background-color: #e1e4e8;
  padding: 10px;
}

.logo-icon {
  vertical-align: text-bottom;
  margin-right: 12px;
  width: 50px;
  height: 50px;
}

h1 {
  font-family: 'Menlo', monospace;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.version {
  font-size: 12px;
  color: #24292e;
}

.content {
  display: grid;
  justify-self: center;
  font-size: 156px;
  padding: 10px;
}

.search {
  height: 30px;
  font-size: 25px;
}

.button {
  justify-self: center;
  margin-top: 10px;
  background-color: #24292e;
  padding: 10px 40px;
  border-radius: 10px;
  border-bottom: 3px solid #444;
  color: #FFF;
  font-size: 15px;
  text-shadow: 0px -2px #444;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.profile {
  display: grid;
  justify-self: center;
  justify-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #666;
  width: 200px;
  max-width: 200px;
  visibility: hidden;
  display: none;
}

.profile-photo__img {
  width: 100px;
  height: 100px;
}

.profile-photo__img:hover {
  opacity: 0.8;
}

.profile-name {
  font-weight: bold;
  font-style: normal;
  color: #24292e;
  word-break: keep-all;
  font-size: 22px;
}
.profile-nickname {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  display: block;
  text-decoration: none;
}

.profile-nickname:hover {
  text-decoration: underline;
}

/*
 * Overlay Spinner
 * https://codepen.io/MattIn4D/pen/LiKFC
 */
.loading {
  position: fixed;
  z-index: 999;
  height: 1vh;
  width: 1vh;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.loading:not(:required):after {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
 * svg
 * */

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
        
.svg-content-responvie {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

/*
 * D3.js
 * 
 * */
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

/**
 *
 * spinner profile
 */

.profile-loading {
  justify-self: center;
  margin-top: 10px;
  height:60px;
  width:60px;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,0,0,.5);
  border-right:6px solid rgba(0,0,0,.5);
  border-bottom:6px solid rgba(0,0,0,.5);
  border-top:6px solid rgba(0,0,0,.75);
  border-radius:100%;
  display: none;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
